#header {
	top:0px;
	right:20px;
	left:20px;
	position:fixed;
	background: #ffff00;
	border-top: 0px;
	border-left:1px solid #000;
	border-right:1px solid #000;
	border-bottom:1px solid #000;
	text-align: center;
	padding: 0 10px 0 20px;
}
#header ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
#header li {
	display:inline;
}
#header a:link,a:visited {
	font-weight:bold;
	color:#FFFFFF;
	background-color: #ff7a2c;
	text-align:center;
	padding:6px;
	text-decoration:none;
	text-transform:uppercase;
}
#header a:hover,a:active {
	background-color: #de0012;
}

#container{
	margin: 0 auto;
	width: 960px;
}

#left{
	float: left;
}

#right{
	float: right;
	font-family: 'Bangers', arial, serif;
	font-size: 30px;
	padding-top: 50px;
}
#right h1{
	text-align: center;
	font-family: 'Bangers', arial, serif;
	font-size: 72px;
	color: #de0012;
}

body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: #ffffff;
	margin: 0;
	padding: 0;
	color: #000000;
	margin-top:40px;
	margin-bottom: 50px;
}

#footer {
	padding: 0 10px;
	background: #f1f954;
	bottom:0px;
	right:0px;
	left:0px;
	position:fixed;
}
#footer p {
	margin: 0;
	padding: 10px 0;
}